.form {
  background-color: white;
  padding: 20px;
  height: 50px;
  width: 500px;
  margin: 0 auto;
  margin-top: 50px;
  box-shadow: 0 4px 6px rgb(0, 0, 0, 0.1);
}

.moderninput {
  font-size: 16px;
  width: 100%;
  border: none;
  display: block;
  color: black;
  font-size: 16px;
}
.moderninput:focus {
  outline: none;
}
.modernButton {
  padding: 12px 20px;
  display: inline-block;
  border: none;
  background-color: darkblue;
  border-radius: 5px;
  color: azure;
  cursor: pointer;
}
.inputContainer {
  display: flex;
}
